
body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    margin: -8px;
    display: flex;
    width: initial;
    height: 50px;
    background-color: #000000;
    
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    
}

.content{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}



.header_bottom{
    margin: -8px;
    margin-top: 8px;
    width: initial;
    height: 10px;
    background-color: #678058;
}

.sidebar{
    width: 100px;
    height: 1000px;
    background-color: #678058;
    
}

.menu_header{
    display: flex;
    align-items: center;
}

.login_header{
    margin-right: 20px;
    padding-left: 10px;
}

.lupa_header{
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.login_pesquisa_header{
    display: flex;
    align-items: center;
    
}

.anuncio_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.linha_anuncio{
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

.anuncios_fileira{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: initial;
    background-color: white;
}

.anuncios_unidade{
    display: block;
    padding-top: 20px;
    padding-right: 50px;
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    padding-bottom: 60px;
}


.bloco_imagem{
    width: 210px;
    height: 180px;
    background-color: #678058;
    border-radius: 10px;
    
}

.bloco_nome_prod{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.posicao_img{
    padding-top: 15px;
    padding-left: 25px;
}

#reee{
    margin: 40px;
    font-size: 30px;
    font-weight: bold;
}

.anunciante_unidade{
    padding-top: 1px;
}